@import '../../scss/colors';

.card-container{
    margin:20px 25px;
    @media all and (min-width:768px) {
        margin:20px 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.go-back{
    text-decoration:none ;
    color: $color-light-blue;
    border: solid 1px $color-light-blue;
    border-radius: 20%;
    padding: 2px;
    @media all and (min-width:1280px) {
        font-size:1.3em;
    }
}

.card-main-container{
    background-color:$color-light-blue;
    color: $color-grey;
    margin-top:20px;
    border:solid 3px $color-light-blue;
    height: 100%;
    @media all and (min-width:768px) {
        height: 70vh;
        width:70vw;
        margin-top: 40px;       
    }
};

.card-data-container{
    @media all and (min-width:768px) {
        height: 100%;
        width:100%;
        display:flex; 
     }
}

.card-image{
  //  height: 300px;
    height: 70vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    @media all and (min-width:768px) {
        height: 70vh;
        width:50%;
     //   background-size: cover;

    }
};

.card-text{
    padding:10px;
    @media all and (min-width:768px) {
         width:47%;
    }
    @media all and (min-width:1280px) {
        font-size:1.3em;
    }
};

.card-title{
text-align: center;
@media all and (min-width:768px) {
    margin-bottom: 55px;
 }
};

.no-data{
    text-align: center;
    margin-top: 50px;    
};

