@import '../../scss/colors';

.central-column{    
    text-align: center;
    max-width: 100vw;
    min-width: 300px;   
}

.title-header{    
    @media all and (min-width:768px) {
        font-size:2.5em;   
    }
    @media all and (min-width:1280px) {
        font-size:3.5em;
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;       
    }    
};

.main-container{
    background-color:$color-light-blue;
    color: $color-grey;
    min-width: 300px;
};

.title-footer{
        @media all and (min-width:768px) {
            font-size:1.25em;
        }
        @media all and (min-width:1280px) {
            font-size:1.7em;
        }      
};