
.filters-container{
    font-weight: bold;
    font-size: 15px;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    @media all and (min-width:768px) {
        font-size: 1.3em;
        letter-spacing: 2px;
    }
    @media all and (min-width:1280px) {
        font-size:1.7em;
        letter-spacing: 2px;
    }
}

.filters-label{
    padding-bottom: 20px;
}