@import './scss/colors';

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


