@import './scss/colors';

body {
  margin: 0;
  // font-family:Arial, Helvetica, sans-serif;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.4;
  color: $color-white;
  background-color: #263650;

  display:flex;
  flex-direction: column;
  justify-content: center;

  width: 100vw;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


